<app-image-lightbox />

<section class="gallery bg-gray ">
  <div class="container max-w-screen-xl px-4 mx-auto">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3>Collected Shots <span>of Our PrimeCare Center</span></h3>
          <p>
            Explore our world-class medical facilities, designed to provide top-notch healthcare services
            with advanced technology and expert care.
          </p>
        </div>
      </div>

      @for (item of galleryItems; track item.title) {
        <div class="col-md-4 col-sm-6">
          <div
            class="gallery-item"
            role="button"
            tabindex="0"
            [attr.aria-label]="'View ' + item.title"
            (click)="openImage(item)"
            (keydown.enter)="openImage(item)"
          >
            <img [src]="item.image | assetUrl" class="img-responsive" [alt]="item.title" />
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</section>
