<div id="preloader">
    <div class="loader"></div>
</div>

<section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>about us</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a routerLink="/pages/home">home &nbsp;/</a>
                </li>
                <li>about us</li>
            </ul>
        </div>
    </div>
</section>

<section class="story max-w-screen-xl px-4 mx-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img [src]="'images/gallery/gallery-01.jpg' | assetUrl" class="responsive" alt="PrimeCare Center care team">
            </div>
            <div class="col-md-6">
                <div class="story-content">
                    <h2>Our Story</h2>
                    <h5 class="tagline">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, minima."</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam ducimus est vero,
                        officiis, placeat optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam
                        nesciunt fugit optio illum aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                        assumenda, est quam perferendis expedita autem?</p>
                    <h6>Mission</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam nihil dolorum beatae consequatur
                        mollitia iure?</p>
                    <h6>Vision</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda consectetur adipisci,
                        voluptatum dolores nostrum omnis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo-video ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block text-center">
                    <h6>About Our PrimeCare </h6>
                    <h1>The World <br>
                        Class Hospitality
                    </h1>
                    <span class="promo-video-badge" aria-hidden="true">PrimeCare Center</span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-collected-shots></app-collected-shots>