<footer class="footer-main ">
  <div class="footer-top">
    <div class="container max-w-screen-xl px-4 mx-auto">
      <div class="row ">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="pb-4 justify-content-center">
              <figure>
                <a routerLink="/pages/home" class="flex justify-center items-center">
                  <img class="media-object rounded-2" [src]="'images/loggggo-3.png' | assetUrl" alt="CareShift logo">
                </a>
              </figure>
            </div>
            <p>CareShift connects patients with trusted medical centers for seamless appointment booking and coordinated care.</p>
            <ul class="location-link">
              <li class="item">
                <span>
                  <i class="fa fa-map-marker"></i>
                  <p>CareShift Healthcare Platform (Demo Address)</p>
                </span>
              </li>
              <li class="item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="mailto:support@careshift.com">
                  <p>support@careshift.com</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>CareShift Support Line (Demo)</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h6>Services</h6>
          <ul class="menu-link">
            <li>
              <a routerLink="/pages/medical-service">
                <i class="fa fa-angle-right" aria-hidden="true"></i>General Medicine</a>
            </li>
            <li>
              <a routerLink="/pages/medical-service">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Cardiology</a>
            </li>
            <li>
              <a routerLink="/pages/medical-service">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CareShift Clinic</a>
            </li>
            <li>
              <a routerLink="/pages/medical-service">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Pediatrics</a>
            </li>
            <li>
              <a routerLink="/pages/medical-service">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Orthopedics</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Recent Posts</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a routerLink="/pages/blog">
                      <img class="footer-post-thumb" [src]="'images/blog/5.jpg' | assetUrl" alt="Preventive care update">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a routerLink="/pages/blog">Advances in Preventive Care</a></h4>
                    <p>How CareShift partner centers are expanding screening programs for better long-term outcomes.</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a routerLink="/pages/blog">
                      <img class="footer-post-thumb" [src]="'images/blog/6.jpg' | assetUrl" alt="Patient wellness update">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a routerLink="/pages/blog">Patient Wellness Programs</a>
                    </h4>
                    <p>New rehabilitation and nutrition services now available across CareShift partner facilities.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom bg-gray-800 text-white py-4">
    <div class="container max-w-screen-xl px-4 mx-auto flex flex-col items-center">
      <div class="copyright-text text-center">
        <p>&copy; Copyright 2026. All Rights Reserved by
          <a routerLink="/pages/home" class="text-blue-400 hover:underline">CareShift</a>
        </p>
      </div>
      <ul class="footer-bottom-link flex space-x-4 mt-3">
        <li><a routerLink="/pages/home" class="hover:text-gray-400">Home</a></li>
        <li><a routerLink="/pages/about-us" class="hover:text-gray-400">About</a></li>
        <li><a routerLink="/pages/contact" class="hover:text-gray-400">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
